{% extends 'forum/base.html' %}
{% block campus_active %}active{% endblock %}
{% block body %}

<header>

</header>


<section>
	<div class="container-fluid">
		<div class="panel panel-default">
			<div class="panel-header">
				<h3>Map of University of Colorado Boulder</h3>
				<div class="panel-body">
					<iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/tkayne10.0d47ocif/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoidGtheW5lMTAiLCJhIjoiY2lwOTVobWx3MDFnNHRjbHl0am95YmhvMSJ9.RSsOrxJBCf89fcrlDJfejg'>
					</iframe>
				</div>
			</div>
		</div>
	</div>
</section>

</div>


{% endblock %}