body {
	background-image: url(../hikes/img/bw_mountain.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Abel', sans-serif;
}

ul {
	list-style: none;
}

.navbar-brand {
	font-family: 'Syncopate', sans-serif;
}

.panel {
	margin-left: 10%;
	margin-right: 10%;
	background:rgba(255,255,255,0.25);
}

.panel  h1 h4 p {
	color: white;
}

.well {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: -10px;
	background:rgba(91,132,125,0.5);
}

#index-header {
	margin-left: 20px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

#footer {
	background: black;
}

footer .panel {
	background: black;
	border: none; 
}

footer .panel-footer {
	background: black;
	border: none;
}

#hike_well {
	margin-left: 20%;
	margin-right: 20%;
}

#HikeCarousel {
	margin-top: 150px;
	width: 100%;
	background-color: black; 
}

#HikeCarousel h3 {
	color: white;
}

#HikeCarousel h6 {
	color: white;
}

#HikeCarousel p {
	color: white;
}

#CampusImg {
	height: 500px;
	width: 100%;
	background-image: url(../hikes/img/UMC2.jpg);
	/*-webkit-filter: grayscale(100%);
	filter: grayscale(100%);*/
	background-attachment: fixed;
  	background-position: top center;
  	background-size: cover;
}

#CampusImg2 {
	height: 410px;
	width: 100%;
	background-image: url(../hikes/img/home3.jpg);
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	background-attachment: fixed;
  	background-position: top center;
  	background-size: cover;
}

#CampusCarousel {
	background: black;
	width: 100%;
	padding-bottom: 4em;
}

/*.content .col-sm-4 {
	background:rgba(255,255,255,0.5);
}

.content .col-lg-8 {
	background:rgba(255,255,255,0.5);
}*/

#myCarousel {
	margin-top: 30px;
	margin-bottom: 20px; 
}
.navbar {
	background: transparent;
	border: none;
}

.jumbotron {
	background:rgba(0,0,0,0.25);
	-webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
	width: 1000px;
	margin: 0 auto;
}

.jumbotron h1 p hr a {
	color: white;
}

.jumbotron h1, p {
	color: white;
}

/*Forum Page*/

/*.forum-fluid {
	background: rgba(0,0,0,0.5);
	margin-left: 20px;
	margin-right: 40px;
	margin-bottom: 20px;
}*/

#ForumInfo {
	color: #3247c5;
	text-align: center;
	background:rgba(0,0,0,0.5);
	border-radius: 15px;
	margin-bottom: 2em;
}

#ForumInfo h1 p {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 100;
}

#HikeListing {
	margin-top: 30px;
}

/*Forum inputs*/

#id_forum_comment {
	width: 50%;
	height: 10%;
	border-radius: 5px;
	border: none;
	background: rgba(255,255,255,0.5);
}

#id_article_body {
	width: 100%;
	height: 25%;
	border-radius: 5px;
	border: none;
	background: rgba(255,255,255,0.5);
}

#id_article_subject {
	width: 100%;
	height: 40px;
	border-radius: 5px;
	border: none;
	background: rgba(255,255,255,0.5);	
}

#id_article_title {
	width: 100%;
	height: 40px;
	border-radius: 5px;
	border: none;
	background: rgba(255,255,255,0.5);
}

/* End of Forum Inputs */

#ForumForm {
	padding:20px 10px 20px 10px;
}

#ForumPost {
	background: rgba(91, 132, 125, 0.66);
	border-radius: 5px;
	padding: 10px 10px 10px;
}
.forumTitle {
	font-weight: bold;
	color: #70b9e3;
}

.CommentHeader {
	margin-left: 5em;
	font-weight: bold;

}

.carousel {
	padding: 20px 10px 20px 10px;
}

.forumHeader {
	font-family: 'Syncopate', sans-serif;
}

.author {
	font-family: 'Homenaje', sans-serif;
	color: rgb(255,255,255);
}

/* Info Page */
#info-fluid {
	background: rgba(0,0,0,0.5);
}

.mapping-info, .photography-info {
	padding:20px 10px 20px 10px;
}

.mapping-info article p, .photography-info article p {
	padding:20px 10px 20px 10px;
} 

.info-header-3 {
	text-decoration: underline;
	color: rgb(255,255,255); 
}

/*End of Info Page*/

/* Login and Register Page */
#login-panel {
	margin-bottom: 100px;
}


