{% extends 'forum/base.html' %}
{% block forum_active %}active{% endblock %}
{% block body %}
	<div class="container-fluid">
			
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="well">
							<h1>{{ forum.article_title }}</h1>
							<h3>{{ forum.article_subject }}</h3>
							<p>{{ forum.article_body }}</p>
							<h4 class="author">Posted by {{ forum.user }} at {{ forum.created_at }}</h4>
						</div>
					</div>
					<div class="row">
						
							<h4 class="CommentHeader">{{ forum.totalComments }} Comments</h4>
							{% for comment in forum.comment_set.all %}
								<div class="well">
									<h5>{{ comment.forum_comment }}</h5>
									<h6 class="author">Posted by {{ comment.user }} at {{ comment.created_at }}</h6>
								</div>
							{% endfor %}
						
							
						
					</div>
					<!-- Must change to button -->
					<a href="{% url 'forum:create_comment' forum.id %}" class="btn btn-success">Add New Comment</a>
				</div>
			</div>
	</div>
{% endblock %}