{% extends 'forum/base.html' %}
{% block forum_active %}active{% endblock %}
{% block body %}

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12" id="ForumInfo">
			<h1>Boulder Breakdown Forum</h1>
			<p>Have any questions, comments, or concerns about a hike or local restaurant in Boulder? Post it right here in the Breakdown's Forum</p>
			<p>You must sign up or sign in to make a new forum</p>
		</div>
	</div>
	<!-- Listing Forum Articles -->
	{% for forum in all_forums %}
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4><strong>Title:</strong></h4><a href="{% url 'forum:detail' forum.id %}"><h4>{{ forum.article_title }}</h4></a>
				<h5><strong>Subject:</strong></h5><h5>{{ forum.article_subject }}</h5>
				<p>Posted by {{ forum.user }}</p>
			</div>
		</div>
	</div>
	{% endfor %}
	<!-- Add New Forum Button -->
		<div class="col-sm-12" style="margin-left:110px;">
                <a href="{% url 'forum:create_forum' %}">
                    <button type="button" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Add Forum
                    </button>
                </a>
        </div>
</div>
{% endblock %}