{% extends 'hikes/base.html' %}
{% block body %}

<header>
	<div class="header-info">
		<h1>About Boulder Breakdown</h1>
	</div>
</header>

<div class="container-fluid" id="info-fluid">
	<div class="mapping-info">
		<h3 class="info-header-3">Mapping Visualizations for all of Boulder</h3>
		<article>
			<p>Hammock heirloom cronut fixie skateboard, cold-pressed irony lyft snackwave. Kitsch af pork belly, prism meditation sriracha fixie mlkshk banjo literally air plant asymmetrical. Activated charcoal VHS everyday carry, tattooed occupy pok pok lomo skateboard kogi biodiesel coloring book williamsburg ethical tumeric. Vaporware iceland chia you probably haven't heard of them asymmetrical kickstarter. Trust fund selvage lomo, keytar fanny pack beard food truck. Poutine gochujang green juice crucifix venmo, artisan knausgaard mlkshk. Swag selvage roof party, next level mumblecore ugh butcher salvia.</p>
		</article>
	</div>

	<div class="photography-info">
		<h3 class="info-header-3">Photography and Developing</h3>
		<article>
			<p>Pop-up iceland quinoa sustainable brooklyn, four dollar toast gluten-free banh mi vaporware tumeric craft beer you probably haven't heard of them selfies. Banjo drinking vinegar bicycle rights, pop-up listicle kinfolk PBR&B sriracha synth gluten-free bushwick. Kogi fashion axe kombucha, pug vape farm-to-table bespoke next level lumbersexual iPhone vinyl intelligentsia unicorn food truck 90's. Pinterest sriracha fanny pack, succulents humblebrag kogi austin paleo shoreditch ugh occupy slow-carb affogato narwhal kinfolk. Distillery pok pok truffaut, kale chips stumptown meditation schlitz aesthetic vinyl man braid chartreuse edison bulb. Cray meh keytar, sustainable kinfolk sartorial pug umami subway tile meggings gastropub. Truffaut fashion axe cred, cray chicharrones la croix migas tilde crucifix gastropub jianbing edison bulb craft beer.</p>
		</article>
	</div>
</div>

{% endblock %}